/**
 * CSS for the Lumiere web app.
 */

body {
  background: #212125;
  color: #FBFBFB;
  font-size: 1.5em;
}

.cf:before,
.cf:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}
.cf:after {
    clear: both;
}
.cf {
    *zoom: 1;
}

.app-container {
  padding-top: 1em;
  margin-bottom: 4em;
}

.center-container {
  width: 30em;
  max-width: 100%;
  margin: 0 auto;
}

.full-container {
  width: 100%;
  max-width: 100%;
  margin: 0 auto;
}

* {
  font-family: 'Open Sans', Helvetica, Arial, 'Lucida Grande', sans-serif;
}

a {
  color: #3366FF;
}

p {
  text-align: justify;
}

code {
  font-family: monospace;
}

.spacer {
  width: 50%;
  margin: 3em auto;
  border-bottom: 2px solid #989898;
}

.spacer.short-top {
  margin-top: 2em;
}

.header h1 {
  font-size: 2.5em;
  font-family: 'Monsieur La Doulaise', cursive;
  padding: 0;
  margin: 0;
}

h2, h3, h4, h5, h6 {
  font-family: 'Varela Round', sans-serif;
}

h3 {
  font-size: 1.5em;
  padding-top: 0.5em;
  margin-bottom: 0.5em;
}

.footer {
  padding-top: 2em;
  border-top: 1px solid #676767;
  margin-top: 4em;
  font-size: 0.85em;
  text-align: center;
}

.footer a {
  text-decoration: none;
  padding: 0 0.5em;
}

.header h2 {
  font-size: 1em;
  padding: 0;
  margin: 0;
  opacity: 0.75;
}

.title-container {
  margin-bottom: 2em;
}

.title-container h1,
.title-container h2 {
  float: left;
  width: 50%;
}

.title-container h1 {
  text-align: right;
  padding-right: 0.5em;
}

.title-container h2 {
  text-align: left;
  padding-left: 1em;
  padding-top: 1em;
}

/* Header */
.status-indicator {
  position: fixed;
  bottom: 0;
  right: 0;
  margin: 1em;
  width: .85em;
  height: .85em;
  border-radius: 1em;
  background-color: #565656;
  opacity: 0.75;
}

.disconnected .status-indicator {
  background-color: #FF3366;
}

.connected .status-indicator {
  background-color: #66FF33;
}

/* Light output */
#color-output-canvas-container {
  width: 100%;
  margin-bottom: 2em;
  z-index: 100;
}

#color-output-canvas {
  width: 100%;
  z-index: 100;
}

#color-output-canvas.stuck {
  position: fixed;
  height: 1.5em;
  top: 0;
  width: 100%;
  left: 0;
  z-index: 100;
  -webkit-box-shadow: 0 2px 15px rgba(255, 255, 255, .35);
  -moz-box-shadow: 0 2px 15px rgba(255, 255, 255, .35);
  box-shadow: 0 2px 15px rgba(255, 255, 255, .35);
}

#color-output-canvas .output-light {
  float: left;
}

#color-output-canvas-container,
#color-output-canvas,
#color-output-canvas .output-light {
  height: 15em;
}

#color-output-canvas.stuck .output-light {
  height: 1.5em;
}

.color-output-input {
  text-align: center;
}


/* About page */
.about {
  margin-bottom: 2em;
}

.about .phone {
  color: #F5B800;
}


/* Colorpicker input */
.color-picker {
  width: 80%;
  margin: 0 auto;
  min-height: 5em;
  z-index: 0;
}

ul.color-inputs {
  width: 100%;
  margin: 0 auto 2em auto;
  list-style-type: none;
  text-align: center;
}

ul.color-inputs li {
  display: inline-block;
  list-style-type: none;
  width: 2em;
  height: 2em;
  padding: 0;
  margin: 0 0.25em 0 0.25em;
  font-size: 1em;
  font-weight: bold;
  line-height: 2em;
  vertical-align: top;
  cursor: pointer;
}

ul.color-inputs li[data-color]:hover:after {
  display: inline-block;
  color: #FFFFFF;
  background-color: rgba(0, 0, 0, 0.3);
  content: 'x';
  width: 2em;
  height: 2em;
}

ul.color-inputs li.current-input {
  border: 1px solid #FFFFFF;
  cursor: inherit;
}

ul.color-inputs li[data-color].current-input:hover:after {
  display: none;
}

ul.color-inputs li.add-another,
ul.color-inputs li.save-input {
  color: #FFFFFF;
  background-color: rgba(255, 255, 255, 0.1);
}



/* Responsive sizes */
@media screen and (max-width: 720px) {
  body {
    font-size: 1.25em;
  }

  .app-container {
    width: 100%;
    padding-left: 10px;
    padding-right: 10px;
  }

  .status-indicator {
    position: relative;
    bottom: auto;
    right: auto;
    margin: 0;
    float: right;
  }

  #color-output-canvas-container,
  #color-output-canvas,
  #color-output-canvas .output-light {
    height: 12em;
  }
}


/* Text input */
#color-input-text {
  border: transparent;
  background-color: #FBFBFB;
  width: 80%;
  padding: .25em .5em;
  margin-bottom: .5em;
  resize: none;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-border-radius: .2em;
  -moz-border-radius: .2em;
  border-radius: .2em;
  color: #212125;
}

#color-input-submit {
  background-color: #FBFBFB;
  border: .1em solid #FFFFFF;
  margin-bottom: 1em;
  -webkit-border-radius: .2em;
  -moz-border-radius: .2em;
  border-radius: .2em;
  color: #212125;
}

#color-input-submit:hover {
  color: #FFFFFF;
  background-color: #212125;
}


/* Extenal input sections */
.external-input .service-icon,
.external-input .service-description {
  width: 50%;
  float: left;
  text-align: center;
  font-size: 0.85em;
  min-height: 0.5em;
}

.external-input .service-icon img {
  max-height: 8em;
}

.external-input .service-description {
  padding-top: 2em;
}

.external-input .service-value {
  font-size: 1.5em;
  color: #F5B800;
}

.yo-logo {
  background-color: #9B59B6;
  border-radius: 7px;
  width: 7em;
  height: 7em;
  display: inline-block;
}


/* Sign page */
body.sign-page {
  background: #FFFFFF;
  color: #212125;
  font-size: 1em;
  text-align: center;
}

.sign-page .app-container {
  padding: 0.5em;
  margin: 0;
}

.sign-page .footer,
.sign-page .status-indicator,
.sign-page .title-container {
  display: none;
}

.sign-page .change-lights {
  font-size: 7em;
  text-transform: uppercase;
  padding: 0;
  margin: 0 0 0.1em 0;
}

.sign-page .color-examples {
  font-size: 2.5em;
  margin-bottom: 2em;
}


.sign-page .color-examples .color-example {
  font-weight: bold;
}
.sign-page .color-examples .color-example.red { color: red }
.sign-page .color-examples .color-example.blue { color: blue }
.sign-page .color-examples .color-example.green { color: green }
.sign-page .color-examples .color-example.magenta { color: #ff00ff }
.sign-page .color-examples .color-example.shamrock { color: #33CC99 }
.sign-page .color-examples .color-example.skyblue { color: #76D7EA }
.sign-page .color-examples .color-example.santa { color: red }
.sign-page .color-examples .color-example.hanukkah { color: #0000ff }
.sign-page .color-examples .color-example.hanukkah2 { color: #c0c0c0 }
.sign-page .color-examples .color-example.rainbow1 { color: red }
.sign-page .color-examples .color-example.rainbow2 { color: orange }
.sign-page .color-examples .color-example.rainbow3 { color: yellow }
.sign-page .color-examples .color-example.rainbow4 { color: green }
.sign-page .color-examples .color-example.rainbow5 { color: blue }
.sign-page .color-examples .color-example.rainbow6 { color: indigo }
.sign-page .color-examples .color-example.rainbow7 { color: violet }

.sign-page .sign-service {
  width: 33.33332%;
  float: left;
  font-size: 2em;
}

.sign-page .sign-service img {
  max-height: 4em;
}

.sign-page .sign-service .yo-logo {
  height: 2em;
  width: 2em;
  margin-top: 1em;
  margin-bottom: 1em;
}

.sign-page .sign-service code {
  font-weight: bold;
  font-size: 1.8em;
}

.sign-page .sign-footer {
  font-size: 1.25em;
  padding-top: 3em;
}

.sign-page .sign-footer code {
  font-weight: bold;
}

@media screen and (max-width: 500px) {

  .title-container h1,
  .title-container h2 {
    float: none;
    width: 100%;
    text-align: center;
  }

  .title-container h1 {
    margin: 0 0 0.1em 0;
    padding: 0;
  }

  .title-container h2 {
    margin: 0 0 0.25em 0;
    padding: 0;
  }

  #color-output-canvas-container,
  #color-output-canvas,
  #color-output-canvas .output-light {
    height: 10em;
  }

}
